spring:
  datasource:
    url: ${MOVIES_SPRING_DATASOURCE_URL:jdbc:h2:mem:movies;DB_CLOSE_DELAY=-1;MODE=PostgreSQL}
    username: ${MOVIES_POSTGRES_USER:sa}
    password: ${MOVIES_POSTGRES_PASSWORD:}
  thymeleaf:
    cache: false
    

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            protocols: TLSv1.2
    default-encoding: UTF-8

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        boot:
          allow_jdbc_metadata_access: false
        show_sql: false
    hibernate:
      ddl-auto: update

  application:
    name: movies-service

  web:
    resources:
      static-locations:
        - classpath:/static/
        - file:uploads/

  servlet:
    multipart:
      max-file-size: 10MB   # Set maximum file size for uploads
      max-request-size: 10MB # Set maximum request size for uploads
      enabled: true

server:
  port: 8080

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      access-token-time: 3600000   # 1 hour
      refresh-token-time: 604800000  # 7 days

logging:
  level:
    ROOT: INFO              # Suppresses debug logs from other libraries
    com.example.movies: DEBUG # Enables debug logs only for your application
